.header{
display: flex;
padding: 5px 10px;
background-color: white;
position: sticky;
top: 0;
z-index: 99;
justify-content: space-between;
box-shadow: 0px 0px 4px #ccc;
}

.header__left{
    display: flex;
    align-items: center;
}
.header__left img{
    height: 40px;
}
.search_icon{
display: flex;
align-items: center;
background-color: whitesmoke;
border-radius: 20px;
padding: 0 10px;
height: 40px;
margin-left: 20px;

}

.search_icon input{
    border: none;
    outline: none;
    background: transparent;
    min-width: 200px;
}


.header__mid{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.header__option{
    padding: 5px 40px;
    cursor: pointer;
}
.header__option :hover{
    border-radius: 20px;
    background-color: whitesmoke;
}

.header__option svg{
    color: grey;
}
.header__option svg:hover{
    color: #2381fa;
}
.header__active{
    position: relative;
}

.header__active svg{
color: #2381fa;
}
.header_active :after{
    content:'' ;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #2381fa;

}

.header__right{
    display: flex;
    align-items: center;
}
.header__info{
    display: flex;
    align-items: center;
}
.header__info h4{
margin-right: 5px;
}
.header__info .MuiAvatar-root{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.header__right .MuiButtonBase-root{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    background-color: whitesmoke;
    color: #000;
}