
.sideBarRow{
display: flex;
padding: 5px 20px;
align-items: center;
margin-bottom: 11px;
}


.sideBarRow p{
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
    
}

.sideBarRow :hover{
    background-color: rgb(211 211 211/31%);
    cursor: pointer;
}

.left__icons{
   
margin-top: 20px;
flex: 0.33;
position: sticky;
top: 0;


}