.post{
    background: #fff;
    border-radius: 1rem;
    margin-top: 1.4rem;
    padding: 1vw;
}
.post__top{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.post__left{
    display: flex;
    align-items: center;
}

.post__info{
    margin-left: 0.7vw;
}

.post__info p{
  display: flex;
  font-size: 0.9vw;
  /* align-items: center; */


}

.post__info p svg{
font-size: 1vw;
margin-left: 5px;

}

.post__middle p{
    margin: 20px 0px;


}
.post__middle img{
    width: 100%;
}
.post__bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}

.post__buttomOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    /* justify-content: center; */
    }
    .post__buttomOption p{
        margin-left: 5px;
    }