.storyReels{
    display: flex;
    
}

.Story{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 200px;
    margin: 0px 5px;
    box-shadow: 0 5px 17px -7px rgb(0,0, 0, 0.75);
    transition: all 0.2 linear 0s;
    border-radius: 10px;
    cursor: pointer;

}
.Story:hover{
    transform: scale(1.07);
}

.Story .MuiAvatar-root{
margin: 10px;
border: 2px solid #2381fa;


}

.Story p{
position: absolute;
bottom: 20px;
left: 20px;
color: #fff;
font-size: 13px;
font-weight: normal;

}