.widget{

margin-top: 30px;
margin-right: 10px;
height: 100vh;
position: sticky;
top: 0;
flex: 0.3;
}

.widget__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.widget__bodyOptions{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.widget__bodyOptions h4{
    margin-left: 10px;
    font-size: 14px;
}
.ml10{
    margin-left: 10px;
}
.ml10 p{
font-size: 12px;
color: grey;
}

.ml10 svg{
    font-size: 16px;
    color: grey;
    margin-right: 10px;
}


.widget__headerRight svg{
    margin: 0 10px;
}